body {
  font-family: Arial, sans-serif;
  background: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #6c3cff;
}

p {
  text-align: center;
}

input,
select,
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #6c3cff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #512bd4;
}

#status {
  margin-top: 15px;
  text-align: center;
}